.buttum-content{
    text-align: left;
}
.buttum-title-content {
    margin-top: 5%;
    margin-top: 5%;
}
.logo-buttom{
    margin-bottom: 5%;
}
.col-2 p{
    color: #B9B7BE;
}
.buttum-content p{
    color: #B9B7BE;
}